*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background{
    background-color: rgb(228, 222, 222);
    width: 100%;
    height: 550px;
    padding: 20px;
}
#background p{
    background-color: white;
    color: black;
    width: 100%;
    height: 400px;
    overflow: auto;
    font-size: 15px;
}
.pa{
    background-color: black;
    color: white;
}
#setting{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#setting #neg,#pos,#number,#change_color,#font_family,#italic{
    width: max-content;
    height: 50px;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    margin-right: 15px;
    cursor: pointer;
}
#font_family{
    font-weight: normal;
    font-size: 20px;
}
#italic{
    font-style: italic;
}
.italic-pargraph{
    font-style: italic;
}